.filter-nav {
  width: 100%;
  height: 100%;
  padding-top: var(--space-24);  /* 96px */
  padding-bottom: var(--space-6); /* 24px */
  padding-left: var(--space-6);
  padding-right: var(--space-6);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.filter-nav__section {
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}


/* Textausrichtung */
.filter-nav__section span {
  color: var(--color-fg);
  font-weight: 400;
}
