.case-header {
  cursor: pointer;
  color: var(--color-fg);
  align-items: center;
  height: 100%;
}

.case-header-wrapper {
    align-items: center;      
}

.case-header-wrapper {
  transition: background-color 0.25s ease;
}

.case-header-wrapper:hover {
  background-color: var(--color-surface);
}
